################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/MembershipWebApp/config/applicationhost.config
/MembershipWebApp/obj/Debug
/.vs/MembershipWebApp/v16
/MembershipWebApp/bin
/packages
