@model MembershipWebApp.Models.ChangePasswordModel
@{
    ViewBag.Title = "Changer de password";
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>Ancien password</td>
            <td>@Html.TextBoxFor(m => m.AncienPassword)</td>
        </tr>
        <tr>
            <td>Nouveau password</td>
            <td>@Html.TextBoxFor(m => m.NouveauPassword)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Changer de mot de passe" />
            </td>
        </tr>
    </table>
}
